@import '../scss/button';

.toggle-button {
  border: 2px solid;
  padding: 0px;
  transition: all .25s ease;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  background-color: #fff;
  
  span {
    border-radius: 50%;
    position: relative;
    transition: all .2s cubic-bezier(0.18, 0.89, 0.32, 1.28);
  }

  &:focus, &:hover, &:active {
    background: initial;
  }

  &.disabled {
    cursor: not-allowed;
  }
}