@import '../scss/variables';
@import '../scss/font';
@import '../scss/button';

.primary-button{
  border-radius: 25px;
  background-color: $dark1;
  justify-content: center;
  padding: 10px 30px;
  border: 1px solid $accent1;
  color: $accent1;
  
  &:hover{
    background-color: $accent1;
    color: #fff;
  }
}

.icon-button{
  border: 1px solid $accent1;
  background-color: $accent1;
  color: #fff;
}

.circle-icon-button {
  @extend .icon-button;
  padding: 2px;
  border-radius: 50%;
}

.text-icon-button {
  @extend .primary-button;
  background-color: $accent1;
  color: #fff;
  padding: 10px;
  justify-content: flex-start;

  i {
    background: transparent;
  }

  span {
    padding-left: 5%;
  }

  &:hover{
    background-color: darken($accent1, 10%);
    color: #fff;
  } 
}

.success-button {
  @extend .text-icon-button;
  color: $success;
  background-color: $success-bg;
  border: 1px solid $success;

  i {
    background-color: transparent;
    color: inherit;
  }

  &:hover{
    background-color: darken($success-bg, 40%);
    color: #fff;
  }
}

.danger-button {
  @extend .text-icon-button;
  color: $danger;
  background-color: $danger-bg;
  border: 1px solid $danger;

  i {
    background-color: transparent;
    color: inherit;
  }

  &:hover{
    background-color: darken($danger-bg, 40%);
    color: #fff;
  }
}