* {
  box-sizing: border-box;
  margin: 0;
  font-size: 80%;
  font: inherit;
  vertical-align: baseline;
  line-height: 1.5;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  &::selection {
    background-color: initial;
  }

  &:hover, &:active, &:focus{
    outline: none;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.fa-spin {
  animation: spin .45s infinite linear;
}

.loader {
  cursor: progress;
}


.no-border {
  border: none;
  outline: none;
  box-shadow: none;
}

.tag-button {
  border-radius: $radius;
  background-color: #fff;
  color: $accent1;
  flex-direction: row-reverse;
  justify-content: space-between;
  width: 100%;

  span {
    padding: 0px;

    &:last-child{
      padding-left: 0px;
    }
  }

  i {
    font-size: 130%;
  }

  &:hover {
    background-color: $accent1-bg;
    color: $accent1;
  }
}