@import '../scss/variables';
@import '../scss/font';

.shared-ui-button {
  cursor: pointer;
  width: 100%;
  height: 100%;
  display: inline-flex;
  align-items: center;
  font-family: Roboto;
  font-size: 80%;
  font-weight: normal;
  transition: all 0.25s ease;

  &:focus,
  &:hover, &:active {
    outline: none;
  }
}

.dark-active {
  transition: all .25s ease;

  i {
    transition: inherit;
  }
  
  &:active {
    background-color: $dark1;
    color: $dark4;
  }
}

.primary-active {
  transition: all .25s ease;

  i {
    transition: inherit;
  }
  
  &:active {
    background-color: $accent1-bg-dark;
  }
}

.success-active {
  transition: all .25s ease;

  i {
    transition: inherit;
  }
  
  &:active {
    background-color: $success-bg-dark;
  }
}

.danger-active {
  transition: all .25s ease;

  i {
    transition: inherit;
  }
  
  &:active {
    background-color: $danger-bg-dark;
  }
}

.primary-icon-active {
  transition: all .25s ease;

  i {
    transition: inherit;
  }
  
  &:active {
    & > i {
      background-color: $accent1-bg-dark;
    }
  }
}
