.tag-button {
  border-radius: $radius;
  background-color: #fff;
  color: $accent1;
  flex-direction: row-reverse;
  justify-content: space-between;
  width: 100%;

  span {
    padding: 0px;

    &:last-child{
      padding-left: 0px;
    }
  }

  i {
    font-size: 130%;
  }

  &:hover {
    background-color: $accent1-bg;
    color: $accent1;
  }
}