$dark1: #f6f6fa;
$dark2: #e4e4ea;
$dark3: #6a7499;
$dark4: #334260;
$dark5: #3e5577;
$purple: #910ac7;
$accent1: #3b73ff;
$accent1-bg: #F6F9FC;
$accent1-bg-dark: rgba(#3b73ff, .5);
$accent2: #6e75ff;
$theme-color: #e82a73;
$success: #26BC8E;
$success-fill: #48BCA8;
$success-bg: #D4FFF2;
$success-bg-dark: darken($success-bg, 10%);
$danger: #F76378;
$danger-fill: #FF406E;
$danger-bg: #FFE6EC;
$danger-bg-dark: darken($danger-bg, 10%);
$spinner-border: #8FA5E2;
$radius: 19.75px;
$black: #4D4F5C;