* {
  &::selection {
    background-color: initial;
  }

  &:hover, &:active, &:focus{
    outline: none;
  }
}

section.app {
  min-height: 100vh;
  background: #fff;
  padding: 20px 0px;

  & > div {
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px;

    &:last-of-type {
      margin-bottom: 0px;
    }

    h3 {
      width: 100%;
      justify-self: flex-start;
      margin-bottom: 20px;
      text-align: left;
      font-weight: bold;
    }

    & > span {
      margin: 10px;
      display: inline-block;
      margin-bottom: 10px;
      position: relative;
      width: auto;
      height: auto;
    }

    .prepend-icon {
      &::after {
        @extend .material-icons !optional;
        content: "filter_list";
        font-family: "Material Icons";
        margin-right: 10px;
      }

      & > span {
        margin-right: auto;
      }
    }
  }
}
