section.app {
  min-height: 100vh;
  background: #fff;

  & > div {
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px;

    h3{
      width: 100%;
      justify-self: flex-start;
      margin-bottom: 20px;
      text-align: left;
      font-weight: bold;
    }

    & > span {
      padding: 10px;
      display: inline-block;
      margin-bottom: 10px;
    }
  }
}
