@import '../scss/variables';
@import '../scss/spin';

.spinner {
  @extend .fa-spin;
  @extend .loader;
  width: 24px;
  height: 24px;
  display: inline-block;
  border: 1px solid $accent1;
  border-radius: 50% !important;
  border-right-color: transparent;
  padding: 0px;
  padding-left: 0px;
}