@import "../scss/variables";
@import "../scss/font";
@import "../scss/button";

.download-button {
  padding: 10px;

  &:hover {
    background-color: $accent1-bg;
    color: $accent1;
  }
}

.round-add-button,
.search-button {
  border-radius: 50%;
  padding: 10px;

  &:hover {
    background-color: $accent1-bg;
    color: $accent1;
  }
}

.rect-add-button {
  border-radius: 5px;
  background-color: #fff;
  color: $accent1;
  justify-content: center;

  &:hover {
    background-color: $accent1-bg;
    color: $accent1;
  }
}

.long-search-button {
  border-radius: 30px;
  background-color: #fff;
  color: $accent1;
  flex-direction: row-reverse;
  justify-content: space-between;
  width: 200px;

  span {
    padding: 0px;
  }

  &:hover {
    background-color: $accent1-bg;
    color: $accent1;
  }
}

.select-button {
  border-radius: 30px;
  border: 1px solid transparent;
  background-color: $dark1;
  color: $dark3;
  flex-direction: row-reverse;
  justify-content: space-between;
  width: 200px;
  position: relative;
  transition: all .25s ease;
  
  span {
    padding: 0px;
  }
  
  &:hover {
    background-color: $dark2;
    color: $dark4;
  }
  
  &:active {
    background-color: $dark3;
    color: #fff;
  }
}

.date-button {
  background-color: #fff;
  color: $accent1;
  border-radius: 5px;
  flex-direction: row-reverse;
  justify-content: space-between;
  width: 150px;

  i {
    font-size: 130%;
  }
  
  span {
    padding: 0px;
  }
  
  &:hover {
    background-color: $accent1-bg;
    color: $accent1;
  }
  
  &.dark {
    border: 1px solid transparent;
    background-color: $dark1;
    color: $dark3;

    &:hover {
      background-color: $dark2;
      color: $dark4;
    }
  }
}

.select-list{
  $radius: 20px;
  list-style: none;
  position: absolute;
  border-radius: $radius;
  background-color: $dark1;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 5px;
  font-size: 80%;
  height: 0px;
  min-height: auto;
  overflow: hidden;
  transition: all .25s ease;
  
  & > li {
    width: 100%;
    height: 40px;
    padding: 10px;
    color: $dark3;
    cursor: pointer;
    text-align: left;
    transition: all .25s ease;
    
    &:hover {
      background-color: $dark2;
      color: $dark4;
    }
    
    &:active {
      background-color: $dark3;
      color: #fff;
    }

    &:first-of-type {
      border-radius: $radius $radius 0px 0px;
    }
    
    &:last-of-type {
      border-radius: 0px 0px $radius $radius;
    }
  }
}
