@import "../scss/button";

.download-button {
  @extend .success-active;
  padding: 10px;
  background-color: #fff;
  border: 1px solid $success;
  border-radius: 3px;

  i {
    font-size: 140%;
    color: $success;
  }

  &:hover {
    background-color: $success-bg;
  }

  &:active {
    background-color: darken($success-bg-dark, 10%);
  }
}

.round-add-button,
.search-button {
  @extend .primary-active;
  background-color: #fff;

  i {
    background-color: #fff;
    animation: none;
    color: $accent1;
    background-color: transparent;
  }

  &:hover {
    background-color: $accent1-bg;
  }

  &:active {
    background-color: $accent1;
  }
}

.rect-add-button {
  @extend .primary-active;
  border-radius: 5px;
  border-color: $accent1;
  background-color: #fff;
  color: $accent1;
  justify-content: center;

  i {
    font-size: 130%;
  }

  &:hover {
    background-color: $accent1-bg;
    color: $accent1;
  }
}